# --extra-index-url https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# --pre

# Pinned tpu-inference commit installed into the tunix/mlperf container image.
tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@6f913c734cb47a1125a817e37cc418c5960675d0
